@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Gerência Projeto Informática</h1>
    <p>Site: <a href="https://projetoinformaticaltda.com.br">projetoinformaticaltda.com.br</a></p>
</div>
